@page
@model AuthAndAuthroizeRazor.Pages.Account.AccessDeniedPage
@{
    ViewData["Title"] = "AccessDeniedPage";
}

<h1>@ViewData["Title"]</h1>
   
<div>
      <h1>Access Denied</h1>
      You dont have access to
</div> 